{% layout "layout.liquid" %}
{% block content %}
<div class="flex flex-col items-center gap-4">
    <div class="card w-full mx-8 md:mx-0 md:w-1/3 bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Status</h2>
            <p>
                <b>Polling Interval:</b> {{ pollingInterval }}s
            </p>
            <p>
                {% if hasBlueskyToken %}
                You are currently authenticated to Bluesky as <span class="font-bold">{{ blueskyHandle }}</span>.
                {% else %}
                You are currently not authenticated to Bluesky, please enter your credentials below.
                {% endif %}
            </p>
        </div>
    </div>
    <div class="card w-full mx-8 md:mx-0 md:w-1/3 bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Bluesky Credentials {% if blueskyHandle and hasBlueskyToken %}
                <div class="badge badge-success gap-2">valid</div>
                {% else %}
                <div class="badge badge-error gap-2">invalid</div>
                {% endif %}
            </h2>
            <p>
                To get started, you'll need to enter your Bluesky handle and token. You can find these by going to your
                settings and create an <a href="https://bsky.app/settings/app-passwords" target="_blank" rel="noopener noreferrer"
                    class="text-secondary underline" >app password</a>.
            </p>
            <form action="/settings/blueskyCreds" method="post">
                <fieldset class="fieldset w-full">
                    <label for="blueskyPDS" class="fieldset-label">Bluesky PDS</label>
                    <input value="{{ blueskyPDS }}" placeholder="https://bsky.social" type="text" name="blueskyPDS"
                        id="blueskyPDS" required class="input w-full" />

                        <label for="blueskyHandle" class="fieldset-label">
                            Bluesky Handle
                        </label>
                        <input value="{{ blueskyHandle }}" placeholder="user.example" type="text" name="blueskyHandle"
                            id="blueskyHandle" required class="input w-full" />
    
                            <label for="blueskyToken" class="fieldset-label">
                                Bluesky App Password
                            </label>
                            <input type="password" placeholder="***********" type="text"
                                name="blueskyToken" id="blueskyToken" required class="input w-full" />
        
                </fieldset>
                <div class="card-actions justify-end mt-4">
                    <input class="btn btn-outline btn-success" type="submit" value="Update" />
                </div>
            </form>
        </div>
    </div>
    <div class="card w-full mx-8 md:mx-0 md:w-1/3 bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Post Settings</h2>
            <form action="/settings/repost" method="post">
                <div class="space-y-2">
                    <p class="mt-4 font-bold">
                        Toot visibility
                    </p>
                    <p class="mb-4">
                        Choose the visibility of the toots that Skymoth will repost.
                    </p>
                    <div class="inline-flex gap-4 w-full">
                        <label class="flex items-center">
                            <input type="checkbox" name="relayVisibility" value="public" class="checkbox checkbox-primary mr-2" {% if relayVisibility contains 'public' %}checked{% endif %}/>
                            <span>Public</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="relayVisibility" value="unlisted" class="checkbox checkbox-primary mr-2" {% if relayVisibility contains 'unlisted' %}checked{% endif %}/>
                            <span>Unlisted</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="relayVisibility" value="private" class="checkbox checkbox-primary mr-2" {% if relayVisibility contains 'private' %}checked{% endif %}/>
                            <span>Private</span>
                        </label>
                    </div>
                    <p class="my-4">
                        The following setting accounts for clients that create threads as unlisted replies to a public toot. This setting ignores your toot visibility settings.
                    </p>
                    <label class="flex items-center">
                        <input type="checkbox" name="relayUnlistedAnswers" id="relayUnlistedAnswers" class="checkbox checkbox-primary mr-2" {% if relayUnlistedAnswers %}checked{% endif %}/>
                        <span>
                            Repost unlisted answers to public toots
                        </span>
                    </label>
                </div>
                <div class="space-y-2">
                    <p class="mt-4 font-bold">
                        Toot markers
                    </p>
                    <p class="mb-4">
                        Choose if Skymoth should relay toots based on the presence of a marker.
                    </p>
                    <label class="flex items-center">
                        <input type="radio" name="relayCriteria" value="all" class="radio radio-primary mr-2" {% if relayCriteria == 'all' %}checked{% endif %}/>
                        <span>None</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" name="relayCriteria" value="favedBySelf" class="radio radio-primary mr-2" {% if relayCriteria == 'favedBySelf' %}checked{% endif %}/>
                        <span>Posts which the user ⭐'d</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" name="relayCriteria" value="containsMarker" class="radio radio-primary mr-2" {% if relayCriteria == 'containsMarker' %}checked{% endif %}/>
                        <span>Posts which include the marker below</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" name="relayCriteria" value="notContainsMarker" class="radio radio-primary mr-2" {% if relayCriteria == 'notContainsMarker' %}checked{% endif %}/>
                        <span>Posts which do not include the marker below</span>
                    </label>
                    <fieldset class="fieldset w-full">
                        <label class="fieldset-label">
                            Marker for relay
                        </label>
                        <input type="text" name="relayMarker" placeholder="Enter a marker, eg: #xp" class="input w-full" id="relayMarker" value="{{ relayMarker }}"/>
                        <p class="fieldset-label">This text can be any string contained in the toot, for example '#xp' (for crosspost) or 'cc:bluesky'.</p>
                    </fieldset>
                </div>

                <div class="space-y-2">
                    <p class="mt-4 font-bold">
                        Post numbering
                    </p>
                    <p class="mb-4">
                        Whether to number a toot that has been split into multiple posts. e.g. [x/Y] (Does not work for threads)
                    </p>
                    <input type="checkbox" name="relayPostNumbering" id="relayPostNumbering" class="checkbox checkbox-primary mr-2" {% if relayPostNumbering %}checked{% endif %}/>
                    <span>
                        Attach post number to relayed toots
                    </span>
                </div>


                <div class="card-actions justify-end mt-4">
                    <input class="btn btn-outline btn-success" type="submit" value="Update" />
                </div>
            </form>
        </div>
    </div>
    <div class="card w-full mx-8 md:mx-0 md:w-1/3 bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Account Actions</h2>
            <div class="card-actions justify-end">
                <a class="btn btn-secondary btn-outline" href="/account/downloadData">Download Data</a>
                <a class="btn btn-warning btn-outline" href="/logout">Logout</a>
            </div>
            <p>
                Please be aware that due to security implications, the download will not include any authentication tokens
            </p>
            <h2 class="font-bold">Delete your account</h2>
            <p>
                If you want to delete your account, you can do so
                <button class="text-error underline" onclick="delete_modal.showModal()">here</button>
            </p>
        </div>
    </div>
    <dialog id="delete_modal" class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure you want to delete your account?</h3>
            <p class="py-4">All your configuration will be lost</p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-secondary">No</button>
                </form>
                <form action="/account/delete" method="post">
                    <button class="btn">Yes</button>
                </form>
            </div>
        </div>
    </dialog>
</div>
{% endblock %}